html, body {
    height: 100%;
    background-color: black; 
}

.container {
    width: auto;
    height: 100%;  
}

.pagePhoto{
    background: url(../images/darkCrystal2.jpeg) no-repeat;
    float: right;  
    background-size:cover;

 }

 .leftSideColumn{
    border-right: 5px solid #DD3497;
 }

button {
    padding: 0;
    width: 110px; 
    height: 110px; 
    background-color: black; 
}

button.btn {
    padding: 0px; 
    margin: 0px; 
    border: 2px solid white; 
}

#score {
      background-color: #867180;
      color: black; 
      font-size: 200%;
      height: 100%; 
      width: 20%; 
    }

    .winLoss {
        background-color: #867180;
        height: 10%; 
        color: black; 
        padding-bottom: 10px;
        font-size: 130%;
        padding-top: 5px; 
        margin-bottom: 10px; 
        width: 20%; 
      }

p{
    color: white;
}

p.winLoss {
    color: black;
    margin-bottom: 0px; 
    margin-top: 0px; 
    font-size: 1em;

}

p.randomNumber {
    background-color: #867180;
    width: 100px; 
    height: 10%; 
    color: black; 
    font-size: 200%;
    padding-bottom: 30px; 
    padding-top: 10px;
    padding-left: 5px;
    font-size: 200%; 
  }

  h1 {
      color: #BC82CF;
      padding: 10px; 
      font-weight: bold;
  }
  
  h2.scoreTitle {
      color: black; 
      background-color: #867180;
      width: 40%; 
      font-size: 1.5em;

  }