html, body {
    height: 100%;
    background-color: black;
}


.container {
    width: auto;
    height: 100%;  
    background-color: black; 
}

.pagePhoto{
    background: url(../images/darkCrystal2.jpeg) no-repeat;
    float: right;  
    background-size:cover;

 }

 .leftSideColumn{
    border-right: 5px solid #DD3497;
    background-color: black; 
    color: white; 
 }

button {
    padding: 0;
    width: 110px; 
    height: 110px; 
    background-color: black; 
}

button.btn {
    padding: 0px; 
    margin: 0px; 
    border: 2px solid white; 
}

#score {
      background-color: #867180;
      color: black; 
      font-size: 1.5em;
      height: 100%; 
      width: 20%; 
    }

   #winsAmount {
        background-color: #867180;
        height: 10%; 
        color: black; 
        padding-bottom: 10px;
        font-size: 1.5em; 
        padding-top: 5px; 
        margin-bottom: 10px; 
        width: 20%; 
      }

    #lossesAmount{
        background-color: #867180;
        height: 10%; 
        color: black; 
        padding-bottom: 10px;
        font-size: 1.5em;
        padding-top: 5px; 
        margin-bottom: 10px; 
        width: 20%; 

    }

.random-number {
    background-color: #867180;
    width: 100px; 
    height: 10%; 
    color: black; 
    font-size: 1.5em; 
    padding-bottom: 30px; 
    padding-top: 10px;
    padding-left: 5px;
    font-size: 1.5em; 
  }

  h1 {
      color: #BC82CF;
      padding: 10px; 
      font-weight: bold;
      font-size: 1.5em; 
      font-weight: 400;
      line-height: 1.5; 
  }
  
  h2.scoreTitle {
      color: black; 
      background-color: #867180;
      width: 40%; 
      font-size: 1.5em;
      margin-top: 10px; 
      font-weight: 400;
      line-height: 1.5;
  }

  #scoreDiv{
    color: black; 
      background-color: #867180;
      width: 40%; 
      font-weight: 400;
      font-size: 1.5em;


  }